# ==================================================================
# FILE     .gitignore (for Scripts repository)
# MACHINE  all
# INFO     -
#
# DATE     12.04.2019
# OWNER    Bischofberger
# ==================================================================

# git shall ignore the following
old/
data/
test/
