# ==================================================================
# FILE     .gitignore (for Scripts repository)
# MACHINE  all
# INFO     -
#
# DATE     16.02.2016
# OWNER    Bischofberger
# ==================================================================

# git shall ignore the following
old/
pcsync-inclexcl.txt
musictogo/testing/
*.wav
