# ==================================================================
# FILE     .gitignore (for Scripts repository)
# MACHINE  all
# INFO     -
#
# DATE     24.04.2016
# OWNER    Bischofberger
# ==================================================================

# git shall ignore the following
old/
data/
musictogo/testing/
test/
