SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/usr/bin/powersave true"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/bin/powersave false"

ACTION=="add", SUBSYSTEM=="block", ATTRS{model}=="WDC WD3200BPVT-2", RUN+="/usr/bin/hdparm -B 255 /dev/$kernel"
